@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    border: none;
    margin: 0;
    padding: 0%;
}

.header{
    background-color: #57290B;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: inline-flex;
    padding-top: 27px;
    padding-left: 120px;
    padding-bottom: 27px;
    justify-content: space-between;
    align-items: center;
    gap: 324px;
}

.header-right{
    display: inline-flex;
    padding-right: 120px;
    padding-top: 27px;
    padding-bottom: 27px;
    justify-content: space-between;
    align-items: center;
    gap: 324px;
    float: right;
}

.header-telefone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header-telefone p {
    padding-left: 5px;
    font-size: 18px;
    font-family: "Cormorant", serif;
    color: white;
}

.header button{
    background: none;
    font-size: 18px;
    font-family: "Cormorant", serif;;
    color: white;
    border-bottom: 2px solid;
    border-color: #B2784A;
}

.header img{
    display: inline-flex;
    justify-content: center;
}

.intro{
    background-image: url("./images/BackGround-intro.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 559px;;
}

.intro h1{
    font-family: Open Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 76.26px;
    text-align: left;
    color: #F0F0F0;
}

.intro p{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: #F0F0F0;
    margin-top: 16px;
}

.intro button{
    background-color: #8F542E;
    padding: 12px 36px;
    border-radius: 10px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F0F0F0;
    margin-top: 41px;
}

.intro img{
    margin-left: 12px;
}

.intro-inside{
    padding-left: 120px;
    padding-top: 67px;
    width: 589px;
}

.sobre-nos{
    width: 100%;;
    height: 641px;
}

.sobre-nos-inside{
    padding-left: 120px;
    padding-top: 56px;
}

.sobre-nos-inside h2, .entre-em-contato-inside h2{
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 39px;
}

.sobre-nos-inside p{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 16px;
}

.sobre-nos-left{
    width: 580px;
}

.sobre-nos button{
    background-color: #8F542E;
    padding: 12px 36px;
    border-radius: 10px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F0F0F0;
    margin-top: 32px;
}

.sobre-nos-left, .sobre-nos-right{
    display: inline-block;
}

.sobre-nos-right{
    width: 67%;
}

.sobre-nos-right img{
    width: 352px;
    height: 340.41px;
    margin: 0 45%;
}

.cafe-onda{
    display: f;
}

.cafe-onda img {
    width: auto;
}

.cafeteria{
    width: auto;
    height: 745px;
    background-color: #80451F;
}

.cafeteria-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

.cafeteria-title h2{
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F0F0F0;
    padding-top: 129px;
    border-bottom: 3px solid;
    border-color: #B2784A;
}

.entre-em-contato{
    width: auto;
    height: 1084px;
}

.entre-em-contato-inside{
    padding-left: 120px;
    padding-top: 128px;

}

.footer{
    display: flex;
    width: auto;
    height: 75px;
    background-color: #57290B;
    justify-content: space-between;
}

.footer h3{
    display: inline-flex;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FFDAB8;
    align-items: center;
}

#footer-left{
    padding-left: 10%;
}

#footer-right{
    float: right;
    padding-right: 10%;
}